<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Simple Sudoku game</title>

<link rel="stylesheet" type="text/css" href="game-css/style.css" />
<link rel="stylesheet" type="text/css" href="game-css/style1.css" />


</head>
<body>
<!-- partial:index.partial.html -->

<button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-log-out"></span> <a href="/logout">Log out</a>
</button>


<div class="container"></div>
<div id="controls">
	<button type="button" class="btn primary" data-action="newGame">New Game</button>
	<button type="button" class="btn primary" data-action="solve">Solve</button>
	<button type="button" class="btn primary" data-action="validate">Validate</button>
</div>
<!-- partial -->
  <script  src="game-js/script.js"></script>

</body>
</html>
